body {
	margin: 0;
	font-family: sans-serif;
}

#help {
	position: fixed;
	right: 50px;
	bottom: 50px;
	background-color: rgba(0, 0, 0, 0.3);
	color: #fff;
	padding: 0.5em;
	border-radius: 20px;
	opacity: 0;
	transition: all 0.5s;
}
#help.visible {
	opacity: 1;
}

