@import url(ui.css);
@import url(item.css);
@import url(shape.css);
@import url(menu.css);

* {
	font-family: source sans pro, sans-serif;
}

html, body {
	margin: 0;
	overflow: hidden;
	height: 100%;
	background-color: #eed;
	-webkit-user-select: none; /* no magnifier on hold */
}

[contenteditable] { /* allow for editable items */
	-webkit-user-select: auto;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#port {
	overflow: hidden;
	font-size: 15px;
}

#throbber {
	position: absolute;
	top: 50px;
	left: -60px;
	width: 50px;
	height: 50px;
	background-image: url(throbber.gif);
}

#throbber:not(.visible) {
	opacity: 0;
}

.ghost {
	position: absolute !important; /* to prevent collision with .content */
	opacity: 0.5;
	z-index: 1;
}

#tip {
	position: fixed;
	z-index: 1;
	left: 10px;
	bottom: 5px;
	transition: all 500ms;
	font-size: 1rem; /* do not scale with map zoom */
}

#tip:before {
	content: "Tip: ";
}

#tip.hidden {
	opacity: 0;
}
