@import url(ui.css);
@import url(shape.css);

html, body {
	margin: 0;
	font-family: sans-serif;
	overflow: hidden;
	height: 100%;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#port {
	background-color: #eed;
	overflow: hidden;
	font-size: 15px;
}

#help {
	position: fixed;
	left: 20px;
	top: 20px;
	background-color: rgba(0, 0, 0, 0.3);
	color: #fff;
	padding: 0.5em;
	border-radius: 20px;
	opacity: 0;
	transition: all 0.5s;
}
#help.visible {
	opacity: 1;
}

.item {
	position: absolute;
}

.text {
	position: relative;
}

canvas {
	position: absolute;
	left: 0;
	top: 0;
}

