.ui {
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
	background-color: #fff;
	width: 200px;
	box-shadow: 0 0 2px 2px #666;
	overflow-y: auto;
}

.ui:not(.visible) {
	-webkit-transform: translate(100%, 0);
	transform: translate(100%, 0);
}

.ui h3 {
	background-color: #34495e;
	color: #fff;
	padding: 0.2em 0;
	margin: 0;
	text-transform: uppercase;
	text-align: center;
}

.ui button, .ui select, .ui input, #toggle {
	color: #000;
	border: none;
	font-size: 13px;
	line-height: 1.4;
	border-radius: 4px;
	padding: 10px;
	-webkit-font-smoothing: subpixel-antialiased;
	transition: all 250ms linear;
}

.ui button:hover, .ui select:hover, .ui input:hover, .ui :focus, #toggle:hover {
	color: #000;
	opacity: 0.8;
}

.ui:not([id]) button {
	color: #fff;
}

.ui:not([id]) p:nth-of-type(1) button {
	background-color: #1abc9c;
}

.ui:not([id]) p:nth-of-type(2) button {
	background-color: #3498db;
}

.ui:not([id]) p:nth-of-type(3) button {
	background-color: #2ecc71;
}


.ui button, #toggle {
	cursor: pointer;
	text-align: center;
	width: 82px;
}

.ui select, .ui input, .ui #color {
	width: 168px;
}

.ui button:first-child {
	margin-right: 4px;
}

.ui button.go {
	font-weight: bold;
}

.ui p {
	margin: 8px 16px;
}

.ui table {
	width: 100%;
	border-collapse: collapse;
}

.ui table td:first-child {
	padding-left: 16px;
}

.ui table td:last-child {
	text-align: right;
	padding-right: 16px;
}

.ui span {
	text-transform: uppercase;
	font-size: 80%;
}

.ui #color {
	display: block;
}

.ui #color::after {
	clear: both;
	content: "";
	display: block;
}

.ui [data-color] {
	display: block;
	float: left;
	width: 14px;
	height: 14px;
	border-radius: 3px;
	margin-right: 2px;
	border: 1px solid transparent;
}

.ui [data-color]:hover, .ui [data-color]:first-child {
	border-color: #000;
}

.ui #github {
	position: absolute;
	right: 160px;
	bottom: 6px;
}

.ui #github img {
	vertical-align: middle;
}

.ui ~ #toggle {
	position: fixed;
	bottom: 6px;
	right: 10px;
	width: 32px;
	height: 32px;
	line-height: 8px;
	margin: auto;
	border-radius: 50%;
	box-shadow: 0 0 2px 3px #ccf;
}

.ui ~ #toggle:after {
	content: "←";
	font-weight: bold;
	font-size: 22px;
}

.ui.visible ~ #toggle {
	box-shadow: inset 0 0 2px 3px #ccf;
}

.ui.visible ~ #toggle:after {
	content: "→";
}

.ui#help {
	right: auto;
	left: 0;
	background-color: rgba(255, 255, 255, 0.7);
	width: 250px;
}

.ui#help:not(.visible) {
	-webkit-transform: translate(-100%, 0);
	transform: translate(-100%, 0);
}

.ui#help table {
	font-size: 80%;
}